.rvmrc
.ruby-version
.ruby-gemset
.sass-cache
*.gem
*.swp
**/*.swp
Gemfile.lock
gemfiles/*.gemfile.lock
.byebug_history

test_apps/rails_*/.bundle
test_apps/rails_*/Gemfile.lock
test_apps/rails_*/db/*.sqlite3
test_apps/rails_*/log/*.log
test_apps/rails_*/tmp
test_apps/rails_*/public/assets
