.rvmrc
.ruby-version
.ruby-gemset
.sass-cache
*.gem
*.swp
**/*.swp
Gemfile.lock
test_apps/rails_3_2/.bundle
test_apps/rails_3_2/Gemfile.lock
test_apps/rails_3_2/db/*.sqlite3
test_apps/rails_3_2/log/*.log
test_apps/rails_3_2/tmp
test_apps/rails_3_2/public/assets