<%= form_for(@landscape) do |f| %>

  <div class="landscape-crop-preview">
    <% # Will show a preview box with width=100, height is calculated by the aspect ratio. see model Landscape %>
    <%= f.crop_preview :picture %>
  </div>
  <div class="landscape-crop-area">
    <% # Crop area. Mantains original image proportions. Crop area takes the aspect ratio  %>
    <%= f.cropbox :picture, :width => 600, crop_x: 400, crop_w: 800, crop_h: 90 %>
  </div>
  <div class="clear"></div>

  <div class="actions">
    <%= f.submit 'Crop image' %>
  </div>
<% end %>